<section>
  <div class="container mt-4">
    <div class="container-fluid text-right">
      <div class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="ml-auto">
            <a class="navbar-brand text-white" (click)="regresarRegister()"
              >Regresar</a
            >
            <a class="navbar-brand text-white" (click)="salir()">Salir</a>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 mt-1 pt-1">
        <h1>{{ formulario.fr_nombre }}</h1>
        <h3 class="descriptionText">
          {{ formulario.fr_descripcion }}
        </h3>

        <div class="container-fluid text-center" id="accordion">
          <div
            class="card mt-2 border-1 borderColor"
            *ngFor="let respuesta of formulario.respuestas"
          >
            <div class="card-header btnColor">
              <a
                class="btn btn-link  questionText"
                href="#collapse_{{ respuesta.pr_id.toString() }}"
                data-toggle="collapse"
                >{{ respuesta.pr_pregunta }}</a
              >
            </div>

            <div
              id="collapse_{{ respuesta.pr_id.toString() }}"
              class="collapse"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="row no-gutters">
                  <div class="col-12 col-xs-12 col-sm-12 p-4 shadow-sm">
                    <h2>Participantes</h2>
                    <div class="table-responsive ">
                      <!--datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"-->
                      <table
                        id="table_enc_{{ respuesta.pr_id.toString() }}"
                        class="table mb-0 table-center text-center table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Intentos</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let encuestado of respuesta.encuestados">
                            <td>{{ encuestado.en_nombre }}</td>
                            <td>{{ encuestado.en_email }}</td>
                            <td>{{ encuestado.TotalRespuestas }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-12 col-xs-12 col-sm-12 p-4 shadow-sm">
                    <h2>Respuestas</h2>
                    <div class="table-responsive">
                      <table
                        id="table_res_{{ respuesta.pr_id.toString() }}"
                        class="table mb-0 table-center text-center"
                      >
                        <thead>
                          <tr>
                            <th>Valor</th>
                            <th>Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let respuesta of respuesta.respuestas">
                            <td>{{ respuesta.rpe_valor }}</td>
                            <td>{{ respuesta.Total }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <canvas class="mycanvas"> </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div></div>
    </div>
  </div>
</section>
