.containerSize {
  height: 100%;
}

.rowPosition {
  margin-top: 20%;
  margin-bottom: auto;
}

h1 {
  color: white;
}

#lblFile {
  background-color: #dbe2ef;
  color: #112d4e;
  font-size: 15px;
}

.brandName {
  font-size: 40px;
}
.textBienvenido {
  font-weight: 400;
}

input[type="text"],
textarea {
  background-color: #dbe2ef;
  color: #112d4e;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .brandName {
    font-size: 30px;
  }
  h1 {
    font-size: 20px;
  }
  .buttonStyle {
    font-size: 18px;
    height: 40px;
  }
  #lblFile {
    background-color: #dbe2ef;

    color: #112d4e;
    font-size: 15px;
    padding-right: 30px;
  }
  ::placeholder {
    font-size: 15px;
  }
  input[type="text"],
  textarea {
    height: 40px;
  }
}

.textLink {
  color: white;
  font-size: 15px;
  font-weight: lighter;
}

.textLink:hover {
  color: #3f72af;
}

