section {
  display: flex;
  background-color: #df5248;
  height: 100%;
}
.containerSize {
  height: 100%;
}

.rowPosition {
  margin-top: 20%;
  margin-bottom: auto;
}

h1 {
  color: white;
}

.buttonStyle {
  background-color: #ce473c;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  height: 60px;
}
.cardLogin {
  background-color: #df5248;
  color: white;
}

#lblFile {
  background-color: #e15d51;
  color: white;
}

@media screen and (max-width: 600px) {
  .brandName {
    font-size: 30px;
  }
  h1 {
    font-size: 20px;
  }
  .buttonStyle {
    font-size: 18px;
    height: 40px;
  }
}

.brandName {
  font-size: 40px;
}
.textBienvenido {
  font-weight: lighter;
}
