<section>
  <div class="container  mt-4">
    <div class="container-fluid text-right">
      <div class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="ml-auto">
            <a class="navbar-brand text-white" (click)="salir()">Salir</a>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 my-2 col-md-12"></div>
      <div class="col-lg-5 col-md-6">
        <div class="row">
          <h1 class="mx-auto text-white brandName">
            <span class="material-icons"> file_present </span>&nbsp;Data Miner
          </h1>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12">
            <h2 class="mx-auto text-white textBienvenido text-left">
              Bienvenido {{ nombre }}
            </h2>
          </div>
        </div>
        <div class="card border-0 pt-0">
          <div class="card-body cardLogin">
            <form #formFileUpload="ngForm" class="login-form mt-0" noValidate>
              <div class="row">
                <div class="col-lg-12">
                  <div class="custom-file">
                    <input
                      type="file"
                      lang="es"
                      (change)="onFileSelected($event)"
                      id="file"
                      style="display: none"
                      name="file"
                    />
                    <label id="lblFile" class="custom-file-label" for="file">{{
                      lblFile
                    }}</label>
                  </div>
                </div>

                <div class="col-lg-12 mt-1 pt-4">
                  <input
                    #fileName="ngModel"
                    [(ngModel)]="fileUploadModel.nombre"
                    type="text"
                    class="form-control border-1 text-center"
                    placeholder="¿Nombre de tu archivo?"
                    required=""
                    id="fileName"
                    name="fileName"
                  />
                </div>

                <div class="col-lg-12 mt-1 pt-4">
                  <textarea
                    #fileDescription="ngModel"
                    [(ngModel)]="fileUploadModel.descripcion"
                    type="text"
                    class="form-control border-1 text-center"
                    placeholder="Agrega una descripción"
                    required=""
                    id="fileDescription"
                    name="file"
                  ></textarea>
                </div>

                <div class="col-lg-12 mt-1 pt-5">
                  <button
                    class="btn buttonStyle shadow btn-block"
                    type="button"
                    (click)="onUpload($event)"
                  >
                    Cargar Archivo
                  </button>
                </div>
                <div class="col-lg-12 mt-3">
                  <label id="lblUpload" class="d-block">{{ lblUpload }}</label>
                </div>
                <div class="col-lg-12 mt-1 pt-1 text-right">
                  <a class="textLink" (click)="showFiles()">
                    Ver archivos existentes
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!---->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</section>
