section {
  display: flex;
  background-color: #df5248;
  height: 100%;
}
.containerSize {
  height: 100%;
}

.rowPosition {
  margin-top: 20%;
  margin-bottom: auto;
}

h1 {
  color: white;
}

.buttonStyle {
  background-color: #ce473c;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  height: 60px;
}
.cardLogin {
  background-color: #df5248;
  color: white;
}

#lblFile {
  background-color: #e15d51;
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
    font-size: 15px;
}

.brandName {
  font-size: 40px;
}
.textBienvenido {
  font-weight: lighter;
}


input[type="text"],
textarea {
  background-color: #e15d51;
  color: white;
  height: 30px;
  font-size: 15px;
}

input[type="textarea"],
textarea {
  background-color: #e15d51;
  color: white;
  height: 15px;
}

input:focus {
  box-shadow: 0 0 10px white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8; /* Firefox */
  font-size: 15px;
}


textarea[type="text"],
textarea {
  background-color: #e15d51;
  color: white;
  height: 100px;
}
textarea:focus {
  box-shadow: 0 0 10px white;
}

@media screen and (max-width: 600px) {
  .brandName {
    font-size: 30px;
  }
  h1 {
    font-size: 20px;
  }
  .buttonStyle {
    font-size: 18px;
    height: 40px;
  }
  #lblFile {
    background-color: #e15d51;
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 0.8; /* Firefox */
      font-size: 15px;
      padding-right: 30px;
  }
}



