<section>
  <div class="container containerSize mt-4">
    <div class="container-fluid text-right">
      <div class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="ml-auto">
            <a class="navbar-brand text-white" (click)="regresarUpload()"
              >Regresar</a
            >
            <a class="navbar-brand text-white" (click)="salir()">Salir</a>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 mt-1 pt-1">
        <div class="invoice-table pb-4">
          <div class="table-responsive bg-white shadow rounded">
            <table class="table mb-0 table-center text-center table-hover">
              <thead class="bg-light">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let form of fileService.forms">
                  <td>{{ form.fr_nombre }}</td>
                  <td>{{ form.fr_descripcion }}</td>
                  <td>
                    <span class="material-icons" (click)="see(form.fr_id)">
                      pageview
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
                    <span class="material-icons" (click)="edit(form.fr_id)">
                      edit
                    </span>
                    <span class="material-icons" (click)="delete(form.fr_id)">
                      delete
                    </span>-->
